body {
  margin: 0;
  font-family: $base-font;
}
h1, h2, h3 {
  font-family: $header-font;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: $grey-light;
}

.card-wrapper {
  background: $grey-light;
  padding: 100px 0px;
}

.inner-card {
  background-color: white;
  margin: 5px 10px;
  padding: 5px 30px;
}
