.flat_page_header {
  background-size: cover !important;
  height: 40vh;
  background-position: center;
}

.text_flat_banner {
  color: white;
}

.wrapper-form-page{
  padding: 30px 40px 10px 40px;
}

.wrapper-description-page{
  padding: 30px 40px 10px 40px;
  background-color: $grey-lighter;
}
