<div class="footer">
  <ul class="list-inline">
    <li>
      <a href=""><i class="fa fa-facebook"  Facebook></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-twitter"  Twitter></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-youtube"  Youtube></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-instagram"  Instagram></i></a>
    </li>
  </ul>
</div>
