<ul class="list-inline text-center">
  <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", style: "width: 150px", class: "img-circle team" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
